<h3>
    <span class="text-primary text-uppercase">curso:</span>
    <span class="text-uppercase"><%= detalle.curso %></span>
</h3>
<h3>
    <span class="text-primary text-uppercase">tipo de pago:</span>
    <span class="text-uppercase"><%= detalle.pago %></span>
</h3>

<h3 class="text-primary">
    <span class="text-uppercase">Total a Pagar:</span>
    <span><%= pago %></span>
</h3>